.sign-up-container{
  width: 100%;
}

.sign-up-box {
  display: flex;
  flex-direction: column;
  width: clamp(250px, 80%, 700px); 
  height: fit-content;
  padding: 20px; 
  border-radius: 20px; 
  background-color: var(--cardBackground);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 0 auto; 
  margin: 50px auto;
  place-content: start center;
  color: var(--navBackground);
  text-align: center;
}

.sign-up-box h1 {
  text-align: center;
  font-size: 3rem;
  width: 100%;
  font-family: cursive;
  text-shadow: white 2px 1px 4px;
}

.sign-up-box p {
  margin-top: 0;
  color: black;
}

.sign-up-box p a {
  color: blue;
}

.sign-up-box h2 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form label {
  font-size: 1.5rem;
}

form input {
  width: clamp(200px, 100%, 400px);
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #000000;
  text-align: center;
}

.submit {
  width: 30%;
  border-radius: 10px;
  background-color: #36A7F9;
  color: white;
  margin-top: 10px;
  height: 40px;
  font-size: 18px;
}
